{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8"
        },
        "useBuiltIns": "usage"
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    [
      "module-alias",
      [
        { "src": "./src", "expose": "src" },
        { "src": "./src/components", "expose": "components" },
        { "src": "./src/utils", "expose": "utils" },
        { "src": "./src/pages", "expose": "pages" },
        { "src": "./src/styles", "expose": "styles" }
      ]
    ],
    [
      "babel-plugin-transform-require-ignore",
      {
        "extensions": [".less", ".css"]
      }
    ],
    "transform-class-properties"
  ]
}
