@import (css) url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

.main-page {
  margin: 12% auto;
  width: 400px;
}

.api-header {
  font-family: 'Blinker', sans-serif;
  font-size: 50px;
  color: #658ab7;
  margin: 30px 0px;
}

.custom-select-container select {
  width: 240px;
  height: 28px;
  background-color: white;
  color: grey;
  margin-bottom: 10px;
  float: right;
  margin-right: 70px;
  font-size: 8pt;
}

.hidden {
  display: none;
}

.custom-input {
  width: 229px;
  height: 25px;
  border: #a8a8a8 1px solid;
  -webkit-border-radius: 2px;
  border-radius: 5px;
  font-size: 8pt;
  padding-left: 8px;
  margin-bottom: 10px;
  float: right;
  margin-right: 70px;
  color: grey;
}

.submit-button {
  width: 240px;
  height: 40px;
  border: 3px solid #658ab7;
  border-radius: 5px;
  background-color: white;
  margin-top: 25px;
  margin-left: 60px;
  cursor: pointer;
  color: #658ab7;
  font-family: 'Blinker', sans-serif;
  font-size: 14px;
}

.submit-button:hover {
  background-color: #658ab7;
  color: #d3e4ff;
}

.submit-button:disabled {
  background-color: #f8f8f8;
  color: grey;
  border: 3px solid grey;
  cursor: none;
}

.select-label {
  color: #658ab7;
  font-family: 'Blinker', sans-serif;
  font-size: 10px;
  padding-left: 25px;
  margin: 8px 0px 18px 0px;
  float: left;
}

.invalid {
  font-size: 7pt;
  float: right;
  margin-right: 70px;
  color: #ed9280;
}