@import (css) url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

.main-page {
  margin: 12% auto;
  width: 250px;
}

.api-header {
  font-family: 'Blinker', sans-serif;
  font-size: 30px;
  color: #658ab7;
  margin: 30px 0px;
}

.custom-select-container {
  width: 240px;
  height: 28px;
  overflow: hidden;
  background: url('https://res.cloudinary.com/berc0/image/upload/v1565361679/arrow_luo0e4.png') no-repeat 150px;
  border: #FEFEFE 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 1px blue;
  box-shadow: inset 0px 0px 0px 1px grey;
  margin: 10px 0px;
}

.custom-select-container select {
  background: transparent;
  width: 240px;
  font-size: 8pt;
  color:grey;
  border: 0;
  border-radius: 0;
  height: 28px;
  -webkit-appearance: none;
}

.custom-select-container select:focus {
  outline: none;
}

.hidden {
  display: none;
}

.custom-input {
  width: 234px;
  height: 25px;
  border: grey 1px solid;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 8pt;
  padding-left: 3px;
  font-weight: 500;
  margin-left: 1px;
}

.submit-button {
  width: 240px;
  height: 40px;
  border: 3px solid #658ab7;
  border-radius: 5px;
  background-color: white;
  margin: 30px 0px;
  cursor: pointer;
  color: #658ab7;
  font-family: 'Blinker', sans-serif;
  font-size: 14px;
}

.submit-button:hover {
  background-color: #658ab7;
  color: #d3e4ff;
}